---
import { ChaptersCon } from "./ChaptersCon/ChaptersCon";
import { CharactersCon } from "./CharactersCon/CharactersCon";
import { MangaInfoCon } from "./MangaInfoCon/MangaInfoCon";
import { MangaSideInfoCon } from "./MangaSideInfoCon/MangaSideInfoCon";
import { SimilarsCon } from "./SimilarsCon/SimilarsCon";
import '../../../styles/pages/mangaRead.scss';
import { setBookmark } from '../../../services/MangaRealm.api/user.ts';

const { manga, similars } = Astro.props
const { title, malData } = manga;
---

<div class="manga-details-con px-3">
	<div class="manga-outer-info-con">
		<MangaInfoCon manga={manga} />
		<MangaSideInfoCon manga={manga} />
	</div>
	<div class="manga-chapters-similars-con">
		<ChaptersCon client:load manga={manga} />
		<SimilarsCon similars={similars} />
	</div>
	{malData && malData.characters && (
		<CharactersCon title={title} characters={malData.characters} />
	)}
</div>

<script define:vars={{ url: Astro.url }}>
	const bookmarkBtn = document.querySelector(".bookmark-btn")
	const shareBtn = document.querySelector(".share-btn")

	shareBtn?.addEventListener("click", () => {
		navigator.clipboard.writeText(url);
		_Alert("Copied to clipboard") // TODO: this is should be a custom alert box
	})

	bookmarkBtn?.addEventListener("click", () => {
		const isAdded = bookmarkBtn?.getAttribute("data-added")
		const success = setBookmark(isAdded)
		if (!success) return 

		const bookmarkIcon = document.querySelector(".bookmark-icon")

		if (isAdded == "false") {
			bookmarkBtn?.setAttribute("data-added", "true")
			bookmarkIcon?.classList.remove("fa-regular")
			bookmarkIcon?.classList.add("fa-solid")
		}

		if (isAdded == "true") {
			bookmarkBtn?.setAttribute("data-added", "false")
			bookmarkIcon?.classList.remove("fa-solid")
			bookmarkIcon?.classList.add("fa-regular")
		}
	})

	const setBookmark = (isAdded) => {
		return true
	}

	const _Alert = (message) => {
		const alertbox = document.querySelector(".alertbox")
		const msgEle = document.querySelector(".alertbox .msg")

		msgEle.textContent = message
		alertbox.style.display = "flex"
		const fiveSecs = 5000
		setTimeout(() => {
			msgEle.textContent = ""
			alertbox.style.display = "none"
		}, fiveSecs)
	}
</script>