---
import { ChaptersCon } from "./ChaptersCon/ChaptersCon";
import { CharactersCon } from "./CharactersCon/CharactersCon";
import { MangaInfoCon } from "./MangaInfoCon/MangaInfoCon";
import { MangaSideInfoCon } from "./MangaSideInfoCon/MangaSideInfoCon";
import { SimilarsCon } from "./SimilarsCon/SimilarsCon";
import { getSettings, getValues } from "../../../services/MangaRealm.api/admin/handlers";

import '../../../styles/pages/mangaRead.scss';

const { manga, similars, isBookMarked, token } = Astro.props
const { title, malData, } = manga;
const { slug } = Astro.params as { slug: string };
const settings = await getSettings()
const enableAddToList = settings.add_list.value
const values = await getValues()
const siteName = values.inputs.site_name.value 
const url = Astro.url
const propItems = {
	isBookMarked, 
	token, 
	manga,
	siteName,
	enableAddToList,
	url: url.toString(), 
}
---

<div class="manga-details-con px-3">
	<div class="manga-outer-info-con">
		<MangaInfoCon client:load {...propItems} />
		<MangaSideInfoCon manga={manga} />
	</div>
	<div class="manga-chapters-similars-con">
		<ChaptersCon client:load manga={manga} />
		<SimilarsCon mangaSlug={slug} similars={similars} />
	</div>
	{malData && malData.characters && (
		<CharactersCon title={title} characters={malData.characters} />
	)}
</div>

<script define:vars={{ url: url }}>
	const shareBtn = document.querySelector(".share-btn")

	shareBtn?.addEventListener("click", () => {
		navigator.clipboard.writeText(url);
		ShowAlert("Copied to clipboard") // TODO: this is should be a custom alert box
	})
	const ShowAlert = (message) => {
		const alertbox = document.querySelector(".alertbox")
		const msgEle = document.querySelector(".alertbox .msg")

		msgEle.textContent = message
		alertbox.style.display = "flex"
		const fiveSecs = 5000
		setTimeout(() => {
			msgEle.textContent = ""
			alertbox.style.display = "none"
		}, fiveSecs)
	}
</script>